{% extends "base.html" %}


{%block content %}
<br /><br /><br /><br />
<div class="container">
<h1>Login</h1><br /><br />
    {% block page_content %}
		<div class="col-md-4">
                <form class="form" action="/login" method="POST">
		<p><h3>Username:</h3> 
              <input type="text" name="username"  class="form-control" placeholder="Unique Username" required autofocus>
		</p>
		<p><h3>password: </h3>
              <input type="password" name="password"  class="form-control" placeholder="Password" required autofocus>
		</p>
		
                        <input class="btn btn-lg btn-success" role="button" type="submit" value="Submit"/>
                </form>
 		</div>
    {% endblock %}
    </div>
             <div class="col-lg-6">
       

        <h3>{{output}}</h3>

</div>

       
      </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}